In [ ]:
!pip install bs4
!pip install requests

In [ ]:
# importing required libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [ ]:
page = requests.get("https://www.imdb.com/chart/moviemeter/?sort=ir,desc&mode=simple&page=1")

In [ ]:
page

In [ ]:
soup = BeautifulSoup (page.content)
soup

In [ ]:
name = []
for i in soup.find_all ('td' , class_='titleColumn'):
    name.append (i.a.text)
    
name

In [ ]:
rating = []
for i in soup.find_all ('td' , class_='ratingColumn imdbRating'):
    rating.append (i.text[1:4])
    
rating

In [135]:
yor = []
for i in soup.find_all ('span' , class_='secondaryInfo'):
    yor.append (i.text)
yor

['(1994)',
 '(\n\n19)',
 '(1972)',
 '(\n\n35)',
 '(2001)',
 '(\n\n69)',
 '(1946)',
 '(\n\n11)',
 '(2014)',
 '(\n\n7)',
 '(2022)',
 '(\n\n9)',
 '(1988)',
 '(\n\n1)',
 '(2019)',
 '(\n\n6)',
 '(2019)',
 '(\n\n321)',
 '(2022)',
 '(\n\n6)',
 '(2022)',
 '(\n\n7)',
 '(2013)',
 '(\n\n37)',
 '(2022)',
 '(\n\n965)',
 '(2021)',
 '(\n\n32)',
 '(2022)',
 '(\n\n1)',
 '(2019)',
 '(\n\n11)',
 '(2009)',
 '(\n\n2)',
 '(2022)',
 '(\n\n1)',
 '(1983)',
 '(\n\n10)',
 '(2022)',
 '(\n\n13)',
 '(2022)',
 '(\n\n4)',
 '(2022)',
 '(\n\n13)',
 '(2022)',
 '(\n\n19)',
 '(1990)',
 '(\n\n1)',
 '(2022)',
 '(\n\n8)',
 '(2022)',
 '(2022)',
 '(\n\n13)',
 '(1992)',
 '(\n\n7)',
 '(1985)',
 '(\n\n289)',
 '(2003)',
 '(2001)',
 '(\n\n34)',
 '(2022)',
 '(\n\n57)',
 '(1989)',
 '(\n\n4)',
 '(1954)',
 '(\n\n9)',
 '(2022)',
 '(\n\n9)',
 '(2022)',
 '(2022)',
 '(\n\n8)',
 '(2022)',
 '(\n\n27)',
 '(2022)',
 '(2022)',
 '(\n\n70)',
 '(2021)',
 '(\n\n93)',
 '(2022)',
 '(\n\n1)',
 '(2022)',
 '(\n\n104)',
 '(2022)',
 '(\n\n9)',
 '(1988)',
 '(\n\n2)',
 '(2021)',
 '(\n\n364)',
 '(2003)',
 '(\n\n13)',
 '(2022)',
 '(\n\n17)',
 '(2022)',
 '(\n\n28)',
 '(2022)',
 '(\n\n4)',
 '(2022)',
 '(\n\n14)',
 '(1996)',
 '(\n\n212)',
 '(2021)',
 '(\n\n26)',
 '(2022)',
 '(\n\n16)',
 '(1986)',
 '(\n\n12)',
 '(2022)',
 '(\n\n4)',
 '(1988)',
 '(\n\n9)',
 '(2022)',
 '(\n\n14)',
 '(2006)',
 '(\n\n7)',
 '(1991)',
 '(\n\n14)',
 '(2022)',
 '(\n\n3)',
 '(1992)',
 '(\n\n4)',
 '(2022)',
 '(\n\n9)',
 '(2022)',
 '(\n\n32)',
 '(2022)',
 '(\n\n26)',
 '(2022)',
 '(\n\n42)',
 '(2022)',
 '(\n\n2)',
 '(2022)',
 '(\n\n19)',
 '(2022)',
 '(\n\n6)',
 '(2022)',
 '(\n\n7)',
 '(2004)',
 '(\n\n8)',
 '(2022)',
 '(\n\n4)',
 '(1994)',
 '(\n\n14)',
 '(2022)',
 '(\n\n22)',
 '(1994)',
 '(\n\n21)',
 '(2022)',
 '(\n\n62)',
 '(2001)',
 '(\n\n13)',
 '(2022)',
 '(\n\n20)',
 '(2019)',
 '(\n\n35)',
 '(2022)',
 '(\n\n20)',
 '(2018)',
 '(\n\n28)',
 '(2000)',
 '(\n\n12)',
 '(2022)',
 '(\n\n85)',
 '(2022)',
 '(\n\n12)',
 '(2022)',
 '(\n\n18)',
 '(2022)',
 '(\n\n7)',
 '(2022)',
 '(\n\n18)',
 '(2022)',
 '(\n\n226)',
 '(2022)',
 '(\n\n2)',
 '(2022)',
 '(\n\n30)',
 '(2022)',
 '(\n\n126)',
 '(2022)',
 '(\n\n20)',
 '(2022)',
 '(\n\n453)',
 '(2021)',
 '(\n\n6,216)',
 '(2022)',
 '(\n\n24)',
 '(2022)',
 '(\n\n415)',
 '(2023)',
 '(\n\n567)',
 '(2023)',
 '(\n\n31)',
 '(2023)',
 '(\n\n51)',
 '(2024)',
 '(\n\n17)']

In [147]:
r = '\n'

for i in yor:
        if r in i :
            continue
        else:
            year_of_release.append(i)
year_of_release

['(1994)',
 '(1972)',
 '(2001)',
 '(1946)',
 '(2014)',
 '(2022)',
 '(1988)',
 '(2019)',
 '(2019)',
 '(2022)',
 '(2022)',
 '(2013)',
 '(2022)',
 '(2021)',
 '(2022)',
 '(2019)',
 '(2009)',
 '(2022)',
 '(1983)',
 '(2022)',
 '(2022)',
 '(2022)',
 '(2022)',
 '(1990)',
 '(2022)',
 '(2022)',
 '(2022)',
 '(1992)',
 '(1985)',
 '(2003)',
 '(2001)',
 '(2022)',
 '(1989)',
 '(1954)',
 '(2022)',
 '(2022)',
 '(2022)',
 '(2022)',
 '(2022)',
 '(2022)',
 '(2021)',
 '(2022)',
 '(2022)',
 '(2022)',
 '(1988)',
 '(2021)',
 '(2003)',
 '(2022)',
 '(2022)',
 '(2022)',
 '(2022)',
 '(1996)',
 '(2021)',
 '(2022)',
 '(1986)',
 '(2022)',
 '(1988)',
 '(2022)',
 '(2006)',
 '(1991)',
 '(2022)',
 '(1992)',
 '(2022)',
 '(2022)',
 '(2022)',
 '(2022)',
 '(2022)',
 '(2022)',
 '(2022)',
 '(2022)',
 '(2004)',
 '(2022)',
 '(1994)',
 '(2022)',
 '(1994)',
 '(2022)',
 '(2001)',
 '(2022)',
 '(2019)',
 '(2022)',
 '(2018)',
 '(2000)',
 '(2022)',
 '(2022)',
 '(2022)',
 '(2022)',
 '(2022)',
 '(2022)',
 '(2022)',
 '(2022)',
 '(2022)',
 '(2022)',
 '(2022)',
 '(2021)',
 '(2022)',
 '(2022)',
 '(2023)',
 '(2023)',
 '(2023)',
 '(2024)']

In [148]:
print(len(name),len(rating),len(year_of_release))

100 100 100

In [149]:
df= pd.DataFrame({'Name':name,'Rating':rating,'Year Of Release':year_of_release})
df

                                                 Name Rating Year Of Release
0                            The Shawshank Redemption    9.3          (1994)
1                                       The Godfather    9.2          (1972)
2   The Lord of the Rings: The Fellowship of the Ring    8.8          (2001)
3                               It's a Wonderful Life    8.6          (1946)
4                                        Interstellar    8.6          (2014)
..                                                ...    ...             ...
95                                   After Ever Happy    4.5          (2022)
96                                 Knock at the Cabin                 (2023)
97                                        Oppenheimer                 (2023)
98                                             Barbie                 (2023)
99                                           Avatar 3                 (2024)

[100 rows x 3 columns]